<div class='calendar-angular-app'>

  <div class='calendar-angular-sidebar'>
    <div class='calendar-angular-sidebar-section'>
      <h2>Instrucciones: </h2>
      <ul>
        <li>Para crear un nuevo evento: seleccione la fecha en la que desea agregarlo</li>
        <li>Puede arrastrar el evento a otros días y tambien modificar el tiempo</li>
        <li>Si hace click sobre el evento podrá eliminarlo</li>
      </ul>
    </div>
    <div class='calendar-angular-sidebar-section'>
      <label>
        <input
          type='checkbox'
          [checked]='calendarVisible'
          (change)='handleCalendarToggle()'
        />
        Visualizar el calendario
      </label>
    </div>
    <div class='calendar-angular-sidebar-section'>
      <label>
        <input
          type='checkbox'
          [checked]='calendarOptions.weekends'
          (change)='handleWeekendsToggle()'
        />
        Vizualizar fines de semana
      </label>
    </div>
    <div class='calendar-angular-sidebar-section'>
      <h2>Todos los eventos ({{currentEvents.length}})</h2>
      <ul>
        <li *ngFor='let event of currentEvents'>
          <b>{{event.startStr}}</b>
          <i>{{event.title}}</i>
        </li>
      </ul>
    </div>
  </div>

  <div class='calendar-angular-main'>
    <full-calendar
      *ngIf='calendarVisible'
      [options]='calendarOptions'
    ></full-calendar>
  </div>

</div>
